* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-image: url(Fundo1.png);
  background-size: cover;
  gap: 16px;
}

#inicio {
  text-align: center;
  width: 680px;
}

.texto2 {
  color: #878EA1;
  font-size: 14px;
}

h1 {
  color: #E2E4E9;
}

.fotoperfil {
  border-radius: 100px;
  width: 112px;
  height: 112px;
}

.tags {
  display: flex;
  justify-content: center;
}

.imagem {
  display: flex;
  gap: 14px;
}

.tag {
  background: #292c34;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.projetos {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 1040px;
}

.proj {
  background: #292c34;
  border-radius: 12px;
  padding: 12px;
  width: 330px;
}

.titulo {
  color: #e2e4e9;
  font-size: 16px;
}

.texto {
  color: #c0c4ce;
}

.projimg {
  width: 100%;
  border-radius: 8px;
}

.grid {
  background: #0d0e11;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.cars {
  display: flex;
  gap: 24px;
}

.card {
  border: 2px solid #16181d;
  border-radius: 12px;
  padding: 20px;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(Itens/Background_Contacts.png);
  background-size: cover;
  flex-direction: column;
}
